/*Login page effects*/
.log-main{
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/4403896/pexels-photo-4403896.jpeg");
    background-size: cover;
    background-position: center;
}

.login-form, .reg-form{
    margin-top:2.5rem;
    padding: 3em;
    position:absolute;
    top:50%;
    left:50%;
    border:1px solid rgba(0, 0, 0,0.8);
    border-radius:2px;
    transform:translateX(-50%) translateY(-50%);
    background-color: rgba(132, 132, 132, 0.2);
}

.reg-form h2{
    line-height: 1em;
    margin-top: 0rem;
}

.login-form h2 ,.reg-form h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:100;
    color:black;
    text-align: center;
    font-size: 50px;
    border-bottom: 1px solid black;
    margin-bottom: 35px;
    padding-bottom: 20px;
}

.login-form input,.reg-form input{
    position:center;
    display: block;
    min-width:400px;
    width:80%;
    height:40px;
    background: rgba(200, 200, 200, 0.7);
    color: rgb(33, 33, 33);
    outline: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight:lighter;
    font-size:15px;
    padding-left: 10px;
    margin: 0 0 20px 0;
    border:1px solid rgba(0,0,0,1);
    border-radius:2px;
}

.login-button, .signup-btn{
    margin-top:25px;
    width: 65%;
    height:55px;
    font-family: inherit;
    font-size:18px;
    font-weight:300;
    border:2px solid rgba(0, 0, 0, 0.51);
    border-radius:3px;
    background: rgba(58, 58, 75, 0.2);
}

.login-form h4 a,.reg-form h4 a{
    position:center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 15px;
    font-weight:300;
    letter-spacing: 1px;
    text-decoration: none;
    color: rgba(246, 246, 246, 0.88);
}
/*Register page effects*/
.reg-main{
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjExMDk0fQ&w=1000&q=80");
    background-position: center;
    background-size: cover;
}